{% extends "AppTabata/padre.html" %}

{% load static %}

{% block title %}
Update Profile!
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
    <header class="py-5 bg-light border-bottom mb-4">
       <div class="container">
          <div class="text-center my-5">
            <h3> Buscar Producto</h3>
 
            <form action="/AppTabata/buscar/" method="GET">
    
                <input type="number" name="codigo" id="codigo">
                <input type="submit" value="Buscar">
    
            </form>


{% endblock %}






