{% extends "AppTabata/padre.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block logo %}
<div class="text-center">
  <img height="60px" src="{{url}}">
  <h3>Bienvenido de Vuelta {{user.username}}</h3> 
</div>

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">¡¡¡BLOG!!!</h1>
            <p class="lead mb-0">Proyecto GitHub - Django -BD</p>
        </div>
    </div>
</header>
{% endblock %}