<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto Final</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppTabata/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}"><img src="https://img.icons8.com/bubbles/50/null/home-page.png"/></a></li>   
                        <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}"><img src="https://img.icons8.com/bubbles/50/null/add-file.png"/></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'EditarPerfil' %}"><img src="https://img.icons8.com/bubbles/50/null/user-folder.png"/></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Empleado' %}"><img src="https://img.icons8.com/bubbles/50/null/test-account.png"/></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Proveedor' %}"><img src="https://img.icons8.com/bubbles/50/null/administrative-tools"/></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Producto' %}"><img src="https://img.icons8.com/bubbles/50/null/login-rounded-right.png"/></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}"><img src="https://img.icons8.com/bubbles/50/null/logout-rounded.png"/></a></li>

                       

                        {% if request.user.is_authenticated %}
                        <p class="text-muted small mb-4 mb-lg-0"> Bienvenido, {{user.username}}!!!,</p>
                        {% endif %}
                        
            </div>
        </nav>
        <!-- Masthead-->
        
    <!--Esto es lo que va a cambiar-->


    {% block ContenidoQueCambia %}

    {% endblock %}

    {% block logo %}
        {% endblock %}
        <!-- Page content-->
        {% block content %}
        {% endblock %}
        {% block sidecontent %}
        {% endblock %}
        <!-- Footer-->
        <footer class="py-3 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Diana Marcela Gallo 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppTabata/css/styles.css' %}"></script>  
    </body>
</html>
