{% extends "AppTabata/padre.html" %}
   
{% block title %}

{% endblock %}

{% block content %}
<div class="container">
    <h3> Administración de Productos</h3>
    <ul>
        {% for producto in object_list %}
            <li>
                <p>Nombre: {{producto.codigo}}</p>
                <p>
                    <a href="{% url 'Detail' producto.id %}"> Ver</a>
                    <a href="{% url 'Edit' producto.id %}"> Editar</a><img src="https://img.icons8.com/bubbles/50/null/edit.png"/></a>
                    <a href="{% url 'Delete' producto.id %}"> Borrar</a><img src="https://img.icons8.com/bubbles/50/null/delete-forever.png"/></a>
                </p>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}